/* A6A5C4
Colors used:
Primary Color (Black): #12130F;
Primary Color (White): #FFFFFF;
Secondary Color (Gray): #B9BABE;
Secondary Color (Light Lavender): #AFB4DB;

Vintage life Colors:
Primary Color (Cobalt Green): #60B49F;
Primary Color (Black): #242423;
Secondary Color (Light Green): #BFE1D9;
Secondary Color (Gray): #F6F6F6;
*/

@import "https://fonts.googleapis.com/css2?family=Manrope&display=swap";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #12130f;
}

/* Typography */

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5;
}

.text-align {
  text-align: center;
}

/* Header and Main Navigation */

header {
  background-color: #12130f;
  padding: 6px 0;
  display: inline-block;
  width: 100%;
  position: fixed;
  box-shadow: 0 3px 10px 0 rgb(18, 19, 15, 0.25);
  z-index: 4;
}

main {
  padding-top: 60px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #12130f;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer div {
  display: block;
}

img {
  width: 100%;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline;
  padding: 0;
  font-size: 32px;
  margin: 32px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  padding-right: 10;
  top: 5px;
  font-size: 20px;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgb(231, 231, 231);
}

/* Layout styling */

.avatar {
  border-radius: 50%;
  min-width: 100px;
  max-width: 15%;
}

.button {
  display: inline-block;
  background-color: #12130f;
  color: #fff;
  font-weight: 400;
  margin: 4px 4px 0 0;
  padding: 10px 30px;
  border-radius: 3px;
  transition: 0.2s opacity;
  text-decoration: none;
}

.pill {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 8px;
}

.cobalt {
  background-color: #60b49f;
  color: #fff;
}

.purple {
  background-color: #805695;
  color: #fff;
}

.orange {
  background-color: #fb5e14;
  color: #fff;
}

.container {
  padding: 0 32px;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 2px 2px 8px 0 rgba(18, 19, 15, 0.15);
}

#hero {
  background-color: #12130f;
  color: #fff;
  text-align: center;
  padding: 48px 0;
  width: 100%;
}

#hero h1 {
  color: #afb4db;
}

#hero span {
  display: block;
}

.logo {
  max-width: 150px;
  max-height: 200px;
  padding: 10px 0;
}

.footer-logo {
  max-width: 8%;
  padding-bottom: 32px;
}

#head .logo {
  max-width: 80%;
  padding: 0;
  margin: 32px 0;
}

#head img {
  margin-top: 32px;
}

.row {
  margin: 32px 0;
}

#work .row {
  padding-bottom: 25px;
}

.bg-gray {
  padding: 16px 0;
  background-color: rgb(185, 186, 190, 0.1);
}

.h3-box {
  background-color: #292e33;
  color: #fff;
  text-align: center;
  padding: 8px;
}

.text-box {
  background-color: white;
  text-align: center;
  padding: 10px;
  box-shadow: 0 3px 10px 0 rgb(18, 19, 15, 0.25);
}

#section {
  width: 500px;
  height: 400px;
  word-wrap: break-word;
}

.quote {
  font-style: italic;
  text-align: center;
  font-weight: 300;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
}

.footer-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.right-bottom {
  border: 1px solid black;
  position: absolute;
  width: 50%;
  bottom: 0;
}

.iframe-container {
  text-align: center;
}

#parent {
  height: 100%;
}

#child {
  height: 50%;
}

#return-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #12130f;
  color: #fff;
  outline: none;
  cursor: pointer;
}

#return-top:hover {
  opacity: 0.8;
}

/* Pseudo classes and elements */

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  color: #afb4db;
  opacity: 1;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

nav > ul > li > a:hover {
  color: #afb4db;
  text-decoration: none;
  opacity: 1;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  color: #afb4db;
}

/* ==============================
Medium devices (641px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    display: inline-block;
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    border-top: 1px solid transparent;
    padding: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px;
  }

  .row-pb-0 {
    padding: 32px 0 0 20px;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #about-me {
    margin-top: 0;
    padding-top: 0;
  }

  .logo {
    max-width: 250px;
    padding-top: 10px;
  }

  #head {
    margin-left: auto;
    margin-right: auto;
  }

  .row .content {
    display: flex;
    gap: 20px;
  }

  div.container4 {
    height: 25em;
    position: relative;
  }

  div.container4 img {
    padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  main {
    padding-top: 100px;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  #head {
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    padding: 100px 0 20px;
  }

  #copyright {
    padding-top: 100px;
  }

  .footermock {
    padding: 100px 0 0 180px !important;
    height: 50%;
  }

  .footermock img,
  ::-webkit-search-results-decoration {
    float: right !important;
  }
}
